html::-webkit-scrollbar {
    display: none;
  }
  
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.add-container {
    overflow: hidden;
    height: 0px;
}

.add-container.show {
    height: 300px;
    transition: all 0.3s ease-in-out;
  }
  
.add-container.hide {
    overflow: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s ease-in-out;
  }

@media (max-width: 640px) {
  .add-container.show {
    height: 400px;
    transition: all 0.3s ease-in-out;
    overflow: scroll;
  }
}